* {
    margin: 0px;
    padding: 0px;
}
:root {
    --ant-color: rgb(211, 31, 31);
  }
body {
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    width: 40vw;
    justify-content: space-between;
}

.left-nav, .right-nav {
    width: 15vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-self: flex-start;
}

.speed, .place-holder {
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 1rem;
    text-align: center;
    width: 100%;
}

.score {
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 2rem;
    text-align: center;
    width: 10vw;
}

.start, .atomatic {
    font-size: 2rem;
    background-color: black;
    color: white;
    text-align: center;
}

.container {
    position: sticky;
    display: grid;
    border: 5px solid rgb(0, 0, 0);
    width: 40vw;
    height: 40vw;
}

div {
    background-color: rgb(255, 255, 255);
}

.black {
    background-color: black;
}

.ant {
    background-color: var(--ant-color);
}